<%= for {type, message} <- @flash do %>
  <% class = ViewHelpers.flash_class(type) %>
  <div class={"text-white px-4 py-2 relative mb-4 text-center #{class}"} role="alert">
    <p class="inline-block align-middle mr-8"
       phx-click="lv:clear-flash"
       phx-value-key={type}><%= message %>
    </p>
  </div>
<% end %>

<%= @inner_content %>
